@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .editprofileform{
        @apply flex flex-col gap-4 my-8;
    }

    .editprofileform div{
        @apply flex flex-row gap-4 items-center w-2/3; 
    }
    .editprofileform div label{
        @apply w-2/6;
    }
    .editprofileform div input, .editprofileform div select{
        @apply w-4/6
    }
}

/* html{
    background-color: white;
} */

a{
    text-decoration: underline;
    color: blue;
}

.editprofileform div{
    
}

